
/*
@font-face {
    font-family: 'AdwaitaSans';
    src: url('../fonts/AdwaitaSans/AdwaitaSans-Regular.ttf') format('truetype'),
         url('../fonts/AdwaitaSans/AdwaitaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FantasqueSansMNerdFontMono';
    src: url('../fonts/FantasqueSansMNerdFontMono/FantasqueSansMNerdFontMono-Regular.ttf') format('truetype'),
         url('../fonts/FantasqueSansMNerdFontMono/FantasqueSansMNerdFontMono-Bold.ttf') format('truetype'),
         url('../fonts/FantasqueSansMNerdFontMono/FantasqueSansMNerdFontMono-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Serif', serif;
}

body {
    font-family: 'Instrument Sans', sans-serif;
}

a, code, pre {
    font-family: 'Space Mono', monospace;
    font-size: large;
}


#album-art {
    border-radius: 15px;
    /*background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 5px;*/
}

/* Default light theme styles */
body {
    background-color: white;
    color: black;
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
